/* === Глобальные стили === */

/* Стили для кнопок при наведении */
div.stButton > button:hover {
    background-color: #1F2A3D !important;
    color: #FFFFFF !important;
}


[data-testid="stSidebarCollapsedControl"] {
    display: none;
}
[data-testid="stBaseButton-header"] {
    display: none;
}


